


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
  
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
  
    &:hover {
  
      background-color: #1b577d;
    }
  }

.add-task-slot {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    // justify-content: center;
    text-align: center;

    gap: 8px;
    // padding: 5 0 5 0px;
    border-radius: 10px;

    // &:hover {
    //     background-color: #1b4763
    // }

    input {

        border: none;
        outline: none; /* Removes the default outline */
        padding: 5px; /* Resets padding */
        margin: 0; /* Resets margin */
        resize: none; /* Prevents resizing */

        // max-width: 21rem;

        border: solid 1.5px;
        border-radius: 5px;
        border-color: var(--p-lightbrown);
        background-color: var(--p-darkblue);


    }
    

}

