

.centralise{

    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;

 }

input,textarea {

    text-decoration: none;
    border-style: none;

    border-style: ridge;
    border-width: 0.1rem;
    border-color: #EEE;
    border-radius: 0.25rem;

    color: --p-lightgray;
    background-color: --p-darkbrown;

    width: 25rem;

    text-indent: 0.5rem;

 }

button {

    background-color: #31363F; /* Green */
    border-style: none;
    border: ridge;
    border-width: 0.1rem;
    border-radius: 0.25rem;
    color: #EEE;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // font-size: 16px;

}

.contactbox{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;

}

 .input-std { height: 5rem; text-align: left;}
 .input-msg { height: 15rem; text-align: start;}