
.picture-rail{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    
}

.grid {display: grid}
.grid-cols-5 {grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));}
.gap-8 {gap: 2rem}
.w-full {width: 100%}
.w-half {width: 50%}
.p-8 {padding: 2rem}

img.picture-format{
    height: 500px;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 8px;

    &:hover {
        filter: contrast(0.9) brightness(1.05);
    }
}