:root {

    --primary: #153448;
    --primary-highlight: #204F6F;
    --text-color: #DFEDF6;
    --accent: #A23B72;

    font-family: "Azeret Mono";
    color: var(--text-color);

    
}

html , body{

    height: 100%;

    color: var(--text-color);
    background-color: var(--primary);

}

.app-format {

    display: flex;
    width: 100%;

}

.gallery-format {

    display: flex;
    flex: auto;

}

h1, h2, h3, p, input{margin: 0px; padding: 0px;}
