:root {

    --text-color: #DFD0B8;
    
    --p-lightgray: #F5F5F5;
    --p-lightbrown: #DFD0B8;
    --p-darkbrown: #948979;
    --p-lightblue: #3C5B6F;
    --p-darkblue: #153448;
    
    font-family: "Azeret Mono";
    color: var(--p-lightbrown);

    
}

html , body{

    height: 100%;

    color: var(--p-lightbrown);
    background-color: var(--p-darkblue);

}

.app-format {

    display: flex;
    width: 100%;

}

.gallery-format {

    display: flex;
    flex: auto;

}

h1, h2, h3, p, input{margin: 0px; padding: 0px;}
