@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --primary: #153448;
    --primary-highlight: #204F6F;
    --text-color: #DFEDF6;
    --text-highlight: #FFF;
    --accent: #A23B72;

    font-family: "Azeret Mono";
    color: var(--text-color);

    
}

html , body{

    height: 100%;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);

}

.app-format {

    display: flex;
    width: 100%;

}

.gallery-format {

    display: flex;
    flex: auto;

}

.focusable {
    &:focus-visible {
        outline: 1px solid var(--md-sys-color-outline);
        animation: outline-animation 300ms ease-in forwards;
    }
}

@keyframes outline-animation {
    0% {outline-width: 0px}
    70% {outline-width: 8px;}
    87.5% {outline-width: 1px;}
    100% {outline-width: 3px;}
}

h1, h2, h3, p, input{margin: 0px; padding: 0px;}
